BROKER_URL=localhost:9092
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
GOOGLE_API_KEY=""
HF_TOKEN=""
ENVIRONMENT=""
VIDEO_WORKER_SECRET=""
API_BASE_URL="http://localhost:3000"
STABILITY_MODEL_URL=""